.main {
  margin-top: 100px;
}

a {
  color: #1b2430;
  text-decoration: none;
}

.btn {
  border-radius: 4px;
  border: 1px solid #dfe1e5;
  cursor: pointer;
  padding: 8px 12px;
  margin: 15px 5px 25px;
}

.btn:hover {
  background-color: #f3bc0592;
  color: #dfe1e5;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

/* center the button */
.btn-wrapper {
  display: flex;
  justify-content: center;
}

.google-image {
  display: block;
  margin-top: 100px 0;
  margin: 0 auto;
  width: 400px;
}

#google-skills {
  text-align: center;
}

input {
  border: 1px solid #dfe1e5;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  padding: 12px 50px;
  margin: 0 auto;
  margin-top: 22px;
  text-decoration: none;
  width: 300px;
}

p {
  color: #1b2430;
}

.card {
  background-color: #d9d7f1;
  border: 1px solid #baabda;
  border-radius: 8px;
  border-bottom: 3px solid #e6b14a;
  box-shadow: 5px 5px 10px rgba(52, 51, 51, 0.3);
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 100px;
  padding: 30px;
  width: 400px;
}

.puppy-profil {
  width: 40%;
  border-radius: 100px;
}

.skills {
  text-decoration: underline;
}

.about {
  text-align: center;
}
